pandas==2.3.3
python-dotenv==1.2.3
python-jobspy==1.1.82
apify-client==3.1.0
flashtext==2.7
openpyxl==3.1.5
streamlit==1.63.0
sentence-transformers==6.1.0
scikit-learn==1.9.1
einops==0.8.2
bm25s==0.3.11